body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    color: white;
}

#navbar {
    position: sticky;
    display: flex;
    justify-content: start;
    align-items: center;
    top: 0;
    right: 0;
    width: 100%;
    background: #000;  /* fallback for old browsers */
    color: white;
}

#navbar > a {
    margin: 1rem;
    font-size: 1.8vw;
    text-decoration: inherit;
    color: inherit;
}

#about {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    width: 100%;
    height: 100vh;
}

.aboutDivText {
    position: absolute;
    top: 30%;
    left: 10%;
}


@media (max-width: 979px) {
    body {
      padding-top: 2.5rem;
    }
    #navbar > a {
        font-size: 5vw;
    }
  }